/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 1px solid #a5a7aa;
  margin: 1.5rem 0;
}

@media screen and (min-width: 800px) {
  hr {
    margin: 2.5rem 0;
  }
}

.nomargin {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  font-size: 85%;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 120%;
  color: #000;
  font-family: "ITC Franklin Gothic LT W01 Bk", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  /*
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  */
}

a {
  color: #b81601;
  text-decoration: none;
  text-decoration: underline;
  transition: opacity 0.15s ease-in;
}

a:hover {
  opacity: 0.5;
}

p {
  max-width: 750px;
  margin: 0 auto 2.5rem;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: "Dense W01 Regular", sans-serif;
  font-weight: 300;
  line-height: 1;
  margin: 2.5rem 0 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.h1,
h1 {
  font-size: 2.8rem;
  letter-spacing: 3px;
}

.h2,
h2 {
  font-size: 2rem;
  letter-spacing: 2.75px;
}

.h3,
h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pizza-with-purpose {
  display: block;
  width: 250px;
  height: 41px;
  margin: 0 auto 1.5rem;
}

.small {
  font-size: 0.7rem;
}

@media screen and (min-width: 800px) {
  .pizza-with-purpose {
    display: block;
    width: 313px;
    height: 51px;
    margin: 0 auto 1.5rem;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #b81601;
  background: #e4e5e6;
  font-family: "Dense W01 Regular", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2.75px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0.35rem 0.75rem;
  margin: 0 1.5rem 0 0;
}

@media screen and (min-width: 800px) {
  .btn {
    position: relative;
    top: 5px;
    margin: 0 1.5rem 0 0;
  }
}

.btn-bright {
  color: #fff;
  background: #b81601;
}

.banner {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.95);
  transition: padding 0.15s ease-in;
}

@media screen and (min-width: 800px) {
  .banner {
    padding: 0;
  }
}

.banner .container {
  box-sizing: border-box;
  max-width: 1020px;
}

.branding {
  width: 175px;
  height: auto;
  float: left;
  padding: 0;
  transition: margin 0.15s ease-in;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

@media screen and (min-width: 800px) {
  .branding {
    width: 300px;
    margin-right: 30px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 850px) {
  .branding {
    margin-right: 55px;
  }
}

@media screen and (min-width: 900px) {
  .branding {
    margin-right: 75px;
  }
}

@media screen and (min-width: 1000px) {
  .branding {
    margin-right: 95px;
    margin-left: 2.5rem;
  }
}

@media screen and (min-height: 860px) and (min-width: 800px) {
  .branding {
    width: 300px;
    margin-right: 95px;
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
  }
}

.nav-primary ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.nav-primary a {
  display: block;
  color: #fff;
  font-family: "Dense W01 Regular", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2.75px;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  transition: color 0.15s ease-in, font-size 0.15s ease-in;
  padding: 0.25rem 0 0.25rem 2.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nav-primary .order-now a {
  color: #b81601;
}

.nav-primary a.active {
  opacity: 0.5;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  display: block;
  z-index: 101;
  cursor: pointer;
}

label.nav-open {
  position: fixed;
  width: 48px;
  height: 48px;
  top: 2.25rem;
  right: 3rem;
  transform: rotate(-13.5deg);
  background-image: url(../img/nav.svg);
  background-size: 48px;
  background-repeat: no-repeat;
}

label.nav-close {
  content: ' ';
  position: relative;
  width: 48px;
  height: 48px;
  background: #fff;
  margin: 1.5rem 2.5rem 0.75rem;
}

label.nav-close:before,
label.nav-close:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 36px;
  height: 6px;
  border-radius: 3px;
  background: #b81601;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -18px;
}

label.nav-close:before {
  transform: rotate(45deg);
}

label.nav-close:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 799px) {
  .nav-primary {
    background: #a5a7aa;
    height: 150%;
    position: fixed;
    top: -200px;
    padding-top: 160px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    transform: translateX(100%) rotate(0deg);
    transition: transform 0.15s ease-in;
  }

@keyframes bounce {
    0% {
      left: 0;
    }

    25% {
      left: 0;
    }

    40% {
      left: 20px;
    }

    80% {
      left: 0;
    }

    100% {
      left: 0;
    }
}

  .nav-trigger:checked ~ label.nav-open {
    z-index: 1;
  }

  .nav-trigger:checked ~ .banner .nav-primary {
    transform: translateX(75%) rotate(-13.5deg);
    animation: bounce 1s;
  }
}

@media screen and (max-width: 450px) {
  .nav-trigger:checked ~ .banner .nav-primary {
    transform: translateX(62%) rotate(-13.5deg);
  }
}

@media screen and (max-width: 400px) {
  .nav-trigger:checked ~ .banner .nav-primary {
    transform: translateX(52%) rotate(-13.5deg);
  }
}

@media screen and (max-width: 350px) {
  .nav-trigger:checked ~ .banner .nav-primary {
    transform: translateX(48%) rotate(-13.5deg);
  }
}

@media screen and (min-width: 800px) {
  label[for="nav-trigger"],
  .nav-trigger {
    display: none;
  }

  .nav-trigger:checked + label {
    right: 0;
  }

  .nav-trigger:checked ~ .site-wrap {
    right: 0;
    box-shadow: none;
  }

  .nav-primary {
    max-width: 960px;
    text-align: right;
    background: transparent;
    position: relative;
    padding: 5rem 2.5rem 2rem;
    margin: 0 auto;
  }

  .nav-primary ul.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    text-align: right;
  }

  .nav-primary li {
    display: inline-block;
    white-space: nowrap;
  }

  .nav-primary a {
    color: #a5a7aa;
    font-size: 1.6rem;
    padding-left: 0;
  }

  .nav-primary a.active {
    color: #6d6e71;
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  .nav-primary a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-primary {
    padding-left: 1.5rem;
  }
}

@media screen and (min-height: 860px) and (min-width: 800px) {
  .nav-primary {
    padding-top: 6rem;
  }
}

.video-container {
  margin: -1.5rem -1.5rem 2.5rem;
  position: relative;
}

@media screen and (min-width: 800px) {
  .video-container {
    margin: -2.5rem -2.5rem 2.5rem;
  }
}

video {
  width: 100%;
}

.video-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video-play:before,
.video-play:after {
  content: ' ';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.video-play:before {
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  transform: translateX(-35%) translateY(-50%);
}

.video-play:after {
  z-index: 1;
  background: #414042;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-play.hidden {
  display: none;
}

body.noscroll {
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  text-align: center;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.content-sheet .content {
  position: relative;
  padding: 2.5rem 1.5rem;
  transform: translate3d(0, 0, 0);
}

.content-sheet .content::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 800px) {
  .content-sheet .content {
    padding: 3.5rem 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .content-sheet .content {
    padding: 2.5rem;
  }
}

.page-index {
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 206px;
  margin-bottom: -156px;
}

.page-index .inner {
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .page-index {
    padding: 0 2.5rem;
    padding-top: 250px;
    margin-bottom: -200px;
  }
}

.page-index.content-menu {
  max-width: 840px;
}

.released {
  position: relative;
}

.content-home {
  z-index: 99;
}

.content-home .content,
.content-home .spacer {
  padding-top: 1.5rem;
  background-color: #b81601;
  color: #fff;
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 800px) {
  .content-home .content,
  .content-home .spacer {
    padding-top: 2.5rem;
  }
}

.content-home a {
  color: #fff;
}

.content-home .content {
  position: relative;
  padding-bottom: 5rem;
}

.content-home .content:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 30px 0 30px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  margin-left: -30px;
}

.content-menu {
  z-index: 98;
}

.content-menu .content,
.content-menu .spacer {
  background-color: #e4e5e6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.content-location {
  z-index: 97;
}

.content-location .content,
.content-location .spacer {
  background-color: #6d6e71;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.content-get-involved {
  z-index: 96;
}

.page-index .inner {
  position: relative;
  top: 0;
  left: 0;
  transition: top 0.15s ease-in, left 0.15s ease-in;
}

/* push sheets up to the header on small displays */

.content-sheet .inner {
  top: -50px;
}

@media screen and (min-width: 800px) {
  .content-sheet .inner {
    top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .content-home .inner {
    top: 0rem;
    left: -1rem;
  }

  .content-menu .inner {
    top: -2rem;
    left: 0rem;
  }

  .content-location .inner {
    top: -1rem;
    left: 1rem;
  }
}

#contact {
  position: fixed;
  overflow: scroll;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#contact .content {
  text-align: center;
  max-width: 700px;
  margin: 260px auto 2.5rem;
  padding: 2.5rem;
}

.menu-content {
  text-align: left;
  margin: 2.5rem 0;
}

.menu-section-title {
  text-align: center;
}

.menu-section-name {
  display: inline-block;
  background: #fff;
  margin: 1.5rem auto;
  padding: 0.25rem .65rem;
}

.menu-section-name::after {
  content: ' ';
  display: block;
  height: 2px;
  background: #a5a7aa;
  position: absolute;
  z-index: -1;
  left: 1.5rem;
  right: 1.5rem;
  margin-top: -1rem;
}

@media screen and (min-width: 800px) {
  .menu-section-name::after {
    left: 2.5rem;
    right: 2.5rem;
  }
}

.menu-title {
  margin: 0;
  line-height: 1;
}

.menu-price {
  display: inline-block;
  margin: 0 0 0 1.5rem;
}

.menu-description {
  margin: 0 0 1.5rem;
}

.menu-bits {
  display: inline-block;
  margin: 0 1rem 1.5rem 0;
}

.square-block {
  margin: 5rem 0;
}

.square-copy {
  display: block;
  margin-top: 1.5rem;
}

@media screen and (min-width: 800px) {
  .square-copy {
    display: inline;
    margin: 0;
  }
}

.square-logo {
  display: inline-block;
  width: 99px;
  height: 24px;
  background-image: url(../img/square.svg);
  background-size: 99px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -5150rem;
  margin: 0 8px -6px 8px;
}

.location-order .square-logo {
  width: 70px;
  height: 17px;
  background-image: url(../img/square-light.svg);
  background-size: 70px auto;
  margin: 0 0 -4px 4px;
}

.caviar-logo {
  display: inline-block;
  width: 78px;
  height: 22px;
  background-image: url(../img/caviar.svg);
  background-size: 78px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -5150rem;
  margin: 0 0 -3px 8px;
}

.location-order .caviar-logo {
  width: 58px;
  height: 16px;
  background-image: url(../img/caviar-light.svg);
  background-size: 58px auto;
  margin: 0 0 -2px 4px;
}

.doordash-logo {
  display: inline-block;
  width: 188px;
  height: 22px;
  background-image: url(../img/doordash.svg);
  background-size: 188px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -5150rem;
  margin: 0 0 -4px 12px;
}

.location-order .doordash-logo {
  width: 119px;
  height: 14px;
  background-image: url(../img/doordash-light.svg);
  background-size: 119px auto;
  margin: 0 0 -2px 4px;
}

.location-block {
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .location-block {
    width: 50%;
    float: left;
  }
}

.location-title {
  color: #414042;
  font-family: "ITC Franklin Gothic LT W01 Bk", sans-serif;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0;
}

.location-address {
  color: #fff;
  font-family: "Dense W01 Regular", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0.5rem 0 1rem;
}

.location-address a {
  color: #fff;
  text-decoration: none;
}

.location-hours {
  color: #fff;
  font-family: "Dense W01 Regular", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
  max-width: none;
}

.location-hours span {
  display: block;
  margin-bottom: 1.5rem;
}

.order-now {
  cursor: pointer;
}

.location-hours .order-now:hover {
  opacity: 0.5;
}

.order-online-tag {
  display: block;
  margin-top: 1rem;
}

.location-order {
  display: none;
  max-height: 100vh;
  overflow: scroll;
  background: #b81601;
  color: #fff;
  padding: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.location-order.active {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.order-close {
  display: block;
  font-size: 2.8rem;
  color: #fff;
  line-height: 1;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.location-order h1 {
  text-transform: uppercase;
  margin: 0;
}

.location-order .spaced {
  margin-top: 4rem;
}

.location-order .square-block {
  margin: 0 auto 1rem;
}

.location-order .square-copy {
  font-size: 0.9rem;
  margin: 0.15rem 0 1rem;
}

.location-order-block {
  margin: 0 0 1.5rem;
}

.location-order-link {
  float: left;
  margin-right: 1rem;
  min-width: 88px;
  text-align: center;
}

.location-order-title {
  margin: 0;
  padding-top: 0.5rem;
}

.location-order-address {
  font-size: 0.9rem;
  line-height: 1.25;
  margin: 0;
}

.location-delivery-block {
  margin: 1.5rem 0 1.5rem;
}

.location-delivery-block::after {
  content: "";
  display: table;
  clear: both;
}

.location-delivery-link {
  float: left;
  width: 153px;
  height: 49px;
  margin-bottom: 1rem;
}

.location-delivery-link:nth-child(odd) {
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .hour-1 {
    float: left;
    width: 50%;
  }

  .hour-2 {
    float: right;
    width: 50%;
  }

  .location-hours .hour-3 {
    margin-bottom: 0;
  }

  .order-close {
    top: 0;
    right: 0;
  }

  .location-order {
    max-width: 450px;
    padding: 3rem 4rem;
  }

  .location-order.active {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: auto;
  }

  .location-order h1,
  .location-order .square-block {
    text-align: center;
  }
}

.get-involved {
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.get-involved > h1 {
  font-size: 1.6rem;
  color: #a5a7aa;
  letter-spacing: 2.75px;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  .get-involved > h1 {
    font-size: 2rem;
  }
}

.get-involved > h1:first-child {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .get-involved {
    margin-top: 2.5rem;
  }
}

.get-involved h2 {
  color: #a5a7aa;
  margin: 0;
}

body#tinymce {
  margin: 12px !important;
}


/*# sourceMappingURL=main.css.map*/